<div id="form">
  <form>
    <div class="mb-3">
      <label for="ingName" class="form-label">Name</label>
      <input
        type="email"
        class="form-control"
        id="ingName"
        [(ngModel)]="ingName"
        name="ingName"
      />
    </div>
    <div class="mb-3">
      <label for="ingQuantity" class="form-label">Quantity</label>
      <input
        type="number"
        class="form-control"
        id="ingQuantity"
        [(ngModel)]="ingQuantity"
        name="ingQuantity"
      />
      <p *ngIf="previousQuantity">in stock {{ previousQuantity }}</p>
    </div>
    <div class="mb-3 form-check"></div>
    <button type="submit" class="btn btn-primary" (click)="add()">
      Submit
    </button>
    <p style="color: red" *ngIf="requiredMsg">{{ requiredMsg }}</p>
  </form>
</div>
